.footer {
  background: var(--Sub-Color-7);
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  min-width: var(--layout-min-width);
  max-width: calc(var(--layout-max-width) + var(--layout-side-padding) * 2);
  margin: 0 auto;
  padding: 0 var(--layout-side-padding) 36px;
}

.divider {
  display: block;
  width: 100%;
  max-width: var(--layout-max-width);
  height: 1px;
  overflow: visible;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
}

.logo {
  color: var(--Point-Color-1);
  font-family: SUIT, system-ui, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  white-space: nowrap;
}

.links {
  display: flex;
  align-items: center;
  gap: 31px;
}

.link {
  font-family: SUIT, system-ui, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #666;
  text-align: center;
  white-space: nowrap;
}

.linkPrivacy {
  color: var(--Sub-Color-3);
}

.bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
}

.copyright {
  margin: 0;
  font-family: SUIT, system-ui, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: var(--Sub-Color-3);
}

.copyright p {
  margin: 0;
}

.contact {
  margin: 0;
  font-family: SUIT, system-ui, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--Sub-Color-3);
  white-space: nowrap;
}
