.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 9px;
  border: 1px solid var(--Sub-Color-4);
  border-radius: 48px;
  background: var(--Main-Color);
  color: var(--Sub-Color-3);
  font-family: SUIT, system-ui, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}

.md {
  font-size: 14px;
}

.sm {
  height: 23px;
  border-color: var(--Sub-Color-2);
  color: var(--Sub-Color-2);
  font-size: 12px;
  box-sizing: border-box;
}

.selected {
  border-color: transparent;
  background: var(--Point-Color-1);
  color: var(--Main-Color);
}

button.tag {
  cursor: pointer;
}
